<!DOCTYPE html>
<html>
  <head>
    <title>Menstrual Cycle Information</title>
    <style>
nav {
        background-color: #ffb170;
        color: #333;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
  
nav a {
        color: #333;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
        transition: all 0.3s ease;
      }
  
nav a:hover {
        background-color: #fff;
        color: #333;
        border-radius: 5px;
      }

body {
    font-family: Arial, sans-serif;
    background-color:   #fffbd6;
  }
  
  /* Ccontent centered on page */
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Style the table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #7b9cff;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #ffb170;
  }
  
</style>
  </head>
  <body>
    <nav>
        <a href="/">Home</a>
        <a href="/periods/new">New Period</a>
      </nav>
      <header>
        <h1>Menstrual Cycle Information</h1>
      </header>
    <main>
      <table>
        <thead>
          <tr>
            <th>Phase</th>
            <th>Description</th>
            <th>Length</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Menstrual Phase</td>
            <td>Period</td>
            <td>3-7 days</td>
          </tr>
          <tr>
            <td>Follicular Phase</td>
            <td>Ovulation preparation</td>
            <td>7-21 days</td>
          </tr>
          <tr>
            <td>Ovulatory Phase</td>
            <td>Release of egg</td>
            <td>1-2 days</td>
          </tr>
          <tr>
            <td>Luteal Phase</td>
            <td>Preparation for potential pregnancy</td>
            <td>10-14 days</td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
